body{
}
@keyframes rotation {
    from   {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
.My-card {
    padding: 1rem;
    background: linear-gradient(45deg,rgb(97, 238, 160), rgb(241, 101, 253));
    border-radius: 1rem;
    box-shadow: 5px 5px 25px black,-5px -5px 25px white;
}
.Padding{
    padding: 40px 0;
}
.icon {
    font-size: 3rem;
    color: rgb(127, 70, 153);
    padding: 1rem;
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;
}
.icon2 {
    font-size: 3rem;
    color: rgb(247, 52, 149);
    padding: 1rem;
}
.Image {
    height: 280px;
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
}
#Image {
    margin-left: 10%;
    width: 80%;
}
.rotation {
    animation: rotation 10s linear infinite;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 100% !important;
    }
    .My-card{
        height: 100vh;
    }
    .Padding{
        padding:0;
    }
  }