ul li a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
@keyframes rotation {
    from   {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
.My-card {
    padding: 32px 16px 64px 16px;
    background: linear-gradient(45deg,rgb(97, 238, 160), rgb(241, 101, 253));
    border-radius: 1rem;
    padding-bottom: 3rem;
    box-shadow: 5px 5px 25px black,-5px -5px 25px white;
}

.Padding{
    padding: 40px 0;
}
.icon {
    font-size: 3rem;
    color: rgb(151, 46, 199);
    padding: 1rem;
    box-shadow: 5px 5px 25px black,-5px -5px 25px white;
    border-radius: 50%;
}
.icon2 {
    font-size: 3rem;
    color: rgb(247, 52, 149);
    padding: 1rem;
    transition: 2s;
}
.Image {
    height: 280px;
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
}
#Image {
    margin-left: 10%;
    width: 80%;
}
.rotation {
    animation: rotation 10s linear infinite;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 100% !important;
    }
    .My-card{
        height: 100vh !important;
    }
    .Padding{
        padding:0;
    }
    .Image {
        padding-top: 2rem;
    }
    .cardBody {
    padding-top: 5rem;
    }
  }